In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
info = pd.read_csv("E:players_20.csv")

In [6]:
analyzing= info[["short_name","nationality", "wage_eur", "defending","club"]]

In [9]:
tott=analyzing[analyzing["club"]=="Tottenham Hotspur"]
tott

,short_name,nationality,wage_eur,defending,club
12,H. Kane,England,220000,47.0,Tottenham Hotspur
27,C. Eriksen,Denmark,205000,53.0,Tottenham Hotspur
32,H. Lloris,France,150000,NaN,Tottenham Hotspur
43,H. Son,Korea Republic,185000,42.0,Tottenham Hotspur
47,J. Vertonghen,Belgium,155000,87.0,Tottenham Hotspur
50,T. Alderweireld,Belgium,155000,88.0,Tottenham Hotspur
113,D. Alli,England,115000,71.0,Tottenham Hotspur
159,G. Lo Celso,Argentina,105000,65.0,Tottenham Hotspur
177,D. SÃ¡nchez,Colombia,93000,83.0,Tottenham Hotspur
197,Lucas Moura,Brazil,130000,42.0,Tottenham Hotspur
331,T. Ndombele,France,87000,70.0,Tottenham Hotspur
389,M. Sissoko,France,105000,79.0,Tottenham Hotspur
420,H. Winks,England,82000,71.0,Tottenham Hotspur
503,D. Rose,England,90000,80.0,Tottenham Hotspur
504,E. Lamela,Argentina,94000,51.0,Tottenham Hotspur
616,E. Dier,England,77000,80.0,Tottenham Hotspur
643,B. Davies,Wales,81000,78.0,Tottenham Hotspur
655,S. Aurier,Ivory Coast,81000,77.0,Tottenham Hotspur
839,V. Wanyama,Kenya,77000,79.0,Tottenham Hotspur
1619,R. Sessegnon,England,38000,64.0,Tottenham Hotspur
1786,P. Gazzaniga,Argentina,50000,NaN,Tottenham Hotspur
2132,J. Foyth,Argentina,40000,74.0,Tottenham Hotspur
2216,K. Walker-Peters,England,49000,72.0,Tottenham Hotspur
2235,G. Nkoudou,France,54000,34.0,Tottenham Hotspur
5736,M. Edwards,England,24000,34.0,Tottenham Hotspur
7693,O. Skipp,England,6000,62.0,Tottenham Hotspur
9931,J. Tanganga,England,12000,64.0,Tottenham Hotspur
11020,T. Parrott,Republic of Ireland,4000,26.0,Tottenham Hotspur
12193,G. Marsh,England,9000,61.0,Tottenham Hotspur
12194,J. Roles,Cyprus,11000,47.0,Tottenham Hotspur
12274,A. Whiteman,England,7000,NaN,Tottenham Hotspur
12337,A. Georgiou,Cyprus,11000,60.0,Tottenham Hotspur
15331,J. Bowden,England,1000,58.0,Tottenham Hotspur